.dv-file-block {
  height: 78px;
  width: 250px;
  display: inline-flex;
  background-color: #272a36;
  padding: 6px 6px 6px 4px;
  border-radius: 4px;
  color: #b9bbc1;
  margin-bottom: 6px;
  margin-right: 6px;
}

.dv-file-block:hover .dv-file-btn {
  transition: 0.2s;
  opacity: 1;
}

.file-info {
  text-align: left;
  width: 185px;
  display: flex;
  justify-content: space-between;
}

.file-info p {
  padding: 0px 0px 0px 0px;
}

.file-name {
  line-height: 17px;
  height: 52px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dv-file-btn {
  display: flex;
  width: 17px;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  transition: 0.2s;
  opacity: 0;
}

.img-svg {
  align-self: center;
  display: flex;
}

.dv-file-group {
  width: 165px;
}

.p-btn-bar {
  height: 14px;
  width: 14px;
  opacity: 0.5;
  transition: 0.4s;
}

.p-btn-bar:hover {
  cursor: pointer;
  height: 14px;
  width: 14px;
  opacity: 1;
  transition: 0.4s;
}

.dv-btn-bar {
  height: 18px;
  width: 16px;
  background-color: #2f3241;
  border-radius: 2px;
}
