#files-section {
  margin-top: 16px;
  display: inline-flex;
  width: 100%;
  max-height: 360px;
  overflow: overlay;
}

#files-margin {
  margin: 6px 6px 6px 6px;
  text-align: left;
  display: inline-block;
}

.hide {
  display: none;
}

#files-section::-webkit-scrollbar {
  width: 14px;
}

#files-section::-webkit-scrollbar-track {
  background: #272a367a;
}

#files-section::-webkit-scrollbar-thumb {
  background-color: #272a36;
  border-radius: 1px;
  border: 2px solid #4b686e33;
}
